<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Husker 2020</title>
  </head>
  <top-body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/schedule">Schedule</a>
      <a href="/cover">Cover</a>
      <a href="/rules">Rules</a>
    </div>
  </top-body>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>