{% extends "base.html" %}
{% block content %}
<div class="container">
  <table>
    <div class="tableHeader">Cover</div>
    <thead>
      <tr>
        <th>Opponent</th>
        <th>Favorite</th>
        <th>Spread</th>
        <th>Bill</th>
        <th>Biggie</th>
        <th>JT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ohio State</td>
        <td>Ohio State</td>
        <td>27.5</td>
        <td>Cover</td>
        <td>Not Cover</td>
        <td>Not Cover</td>
      </tr>
      <!-- <tr>
        <td>Wisconsin</td>
        <td>Cancelled</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
      <tr>
        <td>Northwestern</td>
        <td>Northwestern</td>
        <td>4</td>
        <td>Cover</td>
        <td>Not Cover</td>
        <td>Cover</td>
      </tr>
      <tr>
        <td>Penn State</td>
        <td>Penn State</td>
        <td>3.5</td>
        <td>Cover</td>
        <td>Not Cover</td>
        <td>Cover</td>
      </tr>
      <tr>
        <td>Illinois</td>
        <td>Nebraska</td>
        <td>15.5</td>
        <td>Cover</td>
        <td>Not Cover</td>
        <td>Cover</td>
      </tr>
      <tr>
        <td>Iowa</td>
        <td>Iowa</td>
        <td>13.5</td>
        <td>Cover</td>
        <td>Cover</td>
        <td>Not Cover</td>
      </tr>
      <tr>
        <td>Purdue</td>
        <td>Purdue</td>
        <td>2</td>
        <td>Cover</td>
        <td>Not Cover</td>
        <td>Cover</td>
      </tr>
      <tr>
        <td>Minnesota</td>
        <td>Nebraska</td>
        <td>10.5</td>
        <td>Not Cover</td>
        <td>Not Cover</td>
        <td>Not Cover</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}