{% extends "base.html" %}
{% block content %}
  <h1>Welcome to the 2020 Husker Bet!</h1>
<!--   	<img class="pics" src="../static/images/footballFieldLogo.jpg" alt="Husker Logo">-->	
 	<div class="container">  
	  <table>
	  	<div class="tableHeader">Leaderboard</div>
	  	<thead>
	  	  <tr>
	  	    <th>Player</th>
	  	    <th>Picks</th>
	  	    <th>Spread</th>
	  	    <th>Total</th>
	  	  </tr>
	  	</thead>
	  	<tbody>
	  	  <tr>
	  	    <td>Bigelow</td>
	  	    <td>2</td>
	  	    <td>3</td>
	  	    <td>5</td>
	  	  </tr>	  		
	  	  <tr>
	  	    <td>JT</td>
	  	    <td>2</td>
	  	    <td>2</td>
	  	    <td>4</td>
	  	  </tr>
	  	  <tr>
	  	    <td>Bill</td>
	  	    <td>2</td>
	  	    <td>2</td>
	  	    <td>4</td>
	  	  </tr>  
	  	</tbody>
	  </table>
	</div>

{% endblock %}