{% extends "base.html" %}
{% block content %}
<div class="container">
  <table>
    <div class="tableHeader">Schedule</div>
    <thead>
      <tr>
        <th>Date</th>
        <th>Opponent</th>
        <th>Bill</th>
        <th>Biggie</th>
        <th>JT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10/25/20</td>
        <td>Ohio State</td>
        <td>L</td>
        <td>L</td>
        <td>L</td>
      </tr>
      <tr>
        <td>10/31/20<br></td>
        <td>Wisconsin</td>
        <td>L</td>
        <td>W</td>
        <td>L</td>
      </tr>
      <tr>
        <td>11/07/20</td>
        <td>Northwestern</td>
        <td>W</td>
        <td>W</td>
        <td>W</td>
      </tr>
      <tr>
        <td>11/14/20</td>
        <td>Penn State</td>
        <td>L</td>
        <td>L</td>
        <td>L</td>
      </tr>
      <tr>
        <td>11/21/20</td>
        <td>Illinois</td>
        <td>W</td>
        <td>W</td>
        <td>W</td>
      </tr>
      <tr>
        <td>11/27/20</td>
        <td>Iowa</td>
        <td>W</td>
        <td>W</td>
        <td>W</td>
      </tr>
      <tr>
        <td>12/05/20</td>
        <td>Purdue</td>
        <td>W</td>
        <td>W</td>
        <td>W</td>
      </tr>
      <tr>
        <td>12/12/20</td>
        <td>Minnesota</td>
        <td>L</td>
        <td>W</td>
        <td>W</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}